<body class="weather_body">
<div class="container">
  <!-------------------------- Display city name------------------------------------>
 
 
  <div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
        <div class="panel-heading"><h1><%=  @weathers['city']['name'] %> </h1></div>

  
  <div class="row">
    <!-------------------------- Display current weather------------------------------------>
    <div class="col-md-3 currentWeather">
      <h3>current weather</h3>
      <div class="panel panel-default">
        <div class="panel-heading">Panel Heading</div>
        <div class="panel-body">Panel Content</div>
      </div>
      <% @currentWeather[ 'weather'].each do |weather| %>
        <h5><%=  weather['description'] %></h5>
      <% end %>
    </div>
    <!----------------------- Display 16day weather forecast --------------------------------->
    <div class="col-md-9 wetherForecast">
      <h3>16 days weather forecast</h3>
      <% @weathers[ 'list'].each do |weather| %>
       <% weather[ 'weather'].each do |a| %>
        <div class="col-md-3" data-toggle="modal" data-target="#myModal<%=  weather['dt'] %>">
          <div class="panel panel-default weather_forecast">
            <div class="panel-heading weather-panel-heading">
              <%=Time.at(weather[ 'dt']).strftime( "%m/%d/%Y") %>
            </div>
            <div class="panel-body weather-panel-body text-center">
               <%=image_tag @weather_img_url+a[ 'icon']+ ".png" %>
                <p class="weather_description"><%=a [ 'description'] %></p>
               <h4><span class="label label-pill label-info"> <%=sprintf( '%.1f', weather[ 'temp']['min']-273.15) %>&#8451</span>
              
             <span class="label label-pill label-default"> <%=sprintf( '%.1f', weather[ 'temp'][ 'max']-273.15) %>&#8451</span></h4>
            </div>
            </div>
          </div>
             
                  <div id="myModal<%=  weather['dt'] %>" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                          <p>weather
                            <%=a [ 'description'] %>
                          </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
        <% end %>
        <% end %>
    </div>
  </div>
</div>
    </div>
  </div>
  </body>